DataLake_Scripts/Data-lake-scripts/SHDay0ExtractionPipeline/SHDay0ExtractionPipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"DataLake":{"type":"string"},"shdldiffenworkspace_splitter":{"type":"string"},"DiffenFileShare":{"type":"string"},"Oracle_cloud":{"type":"string"},"EmptyFile":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/SHDay0ExtractionPipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ReadSchemaTableList","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":false,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"dataset":{"referenceName":"schematablelist","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"OperationOnEachTable","type":"ForEach","dependsOn":[{"activity":"ReadSchemaTableList","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('ReadSchemaTableList').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"GetCountOfRecords","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"OracleSource","oracleReaderQuery":{"value":"@concat('select count(1) as CNT from ',item().schema,'.',item().table)","type":"Expression"},"partitionOption":"None","queryTimeout":"02:00:00"},"dataset":{"referenceName":"OracleCloudDataset","type":"DatasetReference","parameters":{}}}},{"name":"MoveDataToADLS","type":"Copy","dependsOn":[{"activity":"GetCountOfRecords","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"OracleSource","oracleReaderQuery":{"value":"@concat('SELECT ''2021-04-03 20:00:00.0''AS c_journaltime,''-1'' AS c_transactionid,''I'' AS c_operationtype,''day0_user'' AS c_userid,obj.* FROM ',item().schema,'.',item().table,' obj')","type":"Expression"},"partitionOption":"None","queryTimeout":"02:00:00"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","maxRowsPerFile":900000,"fileNamePrefix":{"value":"@concat(item().table,'.D20201207.T130000.R',activity('GetCountOfRecords').output.firstRow.CNT)","type":"Expression"},"quoteAllText":true,"fileExtension":""}},"enableStaging":false,"parallelCopies":4,"validateDataConsistency":true,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Info","enableReliableLogging":false},"logLocationSettings":{"linkedServiceName":{"referenceName":"[parameters('DataLake')]","type":"LinkedServiceReference"},"path":"copyactivity-logs"}},"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"OracleCloudDataset","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ExtractionOp1","type":"DatasetReference","parameters":{}}]},{"name":"FileSplitter","type":"DatabricksNotebook","dependsOn":[{"activity":"MoveDataToADLS","dependencyConditions":["Succeeded"]},{"activity":"SetTableName","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/datateam@starhealth.in/FileSplitter/init-adls","baseParameters":{"obtainedCount":{"value":"@variables('obtainedCount')","type":"Expression"},"table_name":{"value":"@variables('current_table_name')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('shdldiffenworkspace_splitter')]","type":"LinkedServiceReference"}},{"name":"MoveProcessedFilesToIncoming","type":"Copy","dependsOn":[{"activity":"PerformValidations","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","maxConcurrentConnections":2,"recursive":false,"wildcardFileName":"*","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":""}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ProcessedFiles","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ProcessedFileDestIncoming","type":"DatasetReference","parameters":{}}]},{"name":"SetObtainedCount","type":"SetVariable","dependsOn":[{"activity":"GetCountOfRecords","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"obtainedCount","value":{"value":"@string(activity('GetCountOfRecords').output.firstRow.CNT)","type":"Expression"}}},{"name":"SetTableName","type":"SetVariable","dependsOn":[{"activity":"GetCountOfRecords","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"current_table_name","value":{"value":"@item().table","type":"Expression"}}},{"name":"SaveStatusFile","type":"Copy","dependsOn":[{"activity":"ClearDirectory","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","additionalColumns":[{"name":"table_name1","value":{"value":"@variables('current_table_name')","type":"Expression"}},{"name":"row_count1","value":{"value":"@variables('obtainedCount')","type":"Expression"}}],"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"EmptyFile","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"OutPutBlob_Success","type":"DatasetReference","parameters":{"filename":{"value":"@concat(variables('current_table_name'),'-',variables('obtainedCount'))","type":"Expression"}}}]},{"name":"ClearDirectory","type":"DatabricksNotebook","dependsOn":[{"activity":"SetObtainedCount","dependencyConditions":["Succeeded"]},{"activity":"SetTableName","dependencyConditions":["Succeeded"]},{"activity":"MoveProcessedFilesToIncoming","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/datateam@starhealth.in/FileSplitter/clearDirectory","baseParameters":{"obtainedCount":{"value":"@variables('obtainedCount')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('shdldiffenworkspace_splitter')]","type":"LinkedServiceReference"}},{"name":"SaveFailureStatus","type":"Copy","dependsOn":[{"activity":"FileSplitter","dependencyConditions":["Failed"]},{"activity":"PerformValidations","dependencyConditions":["Failed"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","additionalColumns":[{"name":"table_name1","value":{"value":"@variables('current_table_name')","type":"Expression"}},{"name":"row_count1","value":{"value":"@variables('obtainedCount')","type":"Expression"}}],"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"EmptyFile","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"OutPutBlob_Failure","type":"DatasetReference","parameters":{"filename":"@concat(variables('current_table_name'),'-',variables('obtainedCount'))"}}]},{"name":"ClearDirectoryOnFailure","type":"DatabricksNotebook","dependsOn":[{"activity":"SaveFailureStatus","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/datateam@starhealth.in/FileSplitter/clearDirectory","baseParameters":{"obtainedCount":{"value":"@variables('obtainedCount')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('shdldiffenworkspace_splitter')]","type":"LinkedServiceReference"}},{"name":"PerformValidations","type":"DatabricksNotebook","dependsOn":[{"activity":"FileSplitter","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/datateam@starhealth.in/Validations/validations","baseParameters":{"RowCountObtained":{"value":"@variables('obtainedCount')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('shdldiffenworkspace_splitter')]","type":"LinkedServiceReference"}}]}}],"variables":{"obtainedCount":{"type":"String"},"current_table_name":{"type":"String"}},"annotations":[],"lastPublishTime":"2021-06-13T15:17:46Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/schematablelist')]","[concat(variables('factoryId'), '/datasets/OracleCloudDataset')]","[concat(variables('factoryId'), '/datasets/ExtractionOp1')]","[concat(variables('factoryId'), '/datasets/ProcessedFiles')]","[concat(variables('factoryId'), '/datasets/ProcessedFileDestIncoming')]","[concat(variables('factoryId'), '/datasets/EmptyFile')]","[concat(variables('factoryId'), '/datasets/OutPutBlob_Success')]","[concat(variables('factoryId'), '/datasets/OutPutBlob_Failure')]"]},{"name":"[concat(parameters('factoryName'), '/schematablelist')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DiffenFileShare')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":"schematablelist.csv","folderPath":"day0Extract"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"schema","type":"String"},{"name":"table","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/OracleCloudDataset')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Oracle_cloud')]","type":"LinkedServiceReference"},"annotations":[],"type":"OracleTable","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ExtractionOp1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DataLake')]","type":"LinkedServiceReference"},"parameters":{"path":{"type":"string","defaultValue":"pipeline1"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":{"value":"@dataset().path","type":"Expression"}},"columnDelimiter":",","escapeChar":"\"","quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ProcessedFiles')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DataLake')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"day0export"},"columnDelimiter":",","escapeChar":"\\","quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ProcessedFileDestIncoming')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DiffenFileShare')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"deployment/zzgalaxy/all/incoming"},"columnDelimiter":",","escapeChar":"\\","quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/EmptyFile')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('EmptyFile')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":"empty.csv","folderPath":"day0Extract"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"},{"type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/OutPutBlob_Success')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DiffenFileShare')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"folderPath":"day0Extract/completed"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":false,"quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"},{"type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/OutPutBlob_Failure')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DiffenFileShare')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"folderPath":"day0Extract/failed"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":false,"quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"},{"type":"String"}]},"dependsOn":[]}]}