DataLake_Scripts/Data-lake-scripts/SHDay0ExtractionPipeline_CustomMove_2/SHDay0ExtractionPipeline_CustomMove_2.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"DataLake":{"type":"string"},"shdldiffenworkspace_splitter":{"type":"string"},"DiffenFileShare":{"type":"string"},"Oracle_cloud":{"type":"string"},"EmptyFile":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/SHDay0ExtractionPipeline_CustomMove_2')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ReadSchemaTableList","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":false,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"dataset":{"referenceName":"pipe2lookup","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"OperationOnEachTable","type":"ForEach","dependsOn":[{"activity":"ReadSchemaTableList","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('ReadSchemaTableList').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"GetCountOfRecords","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"OracleSource","oracleReaderQuery":{"value":"@concat('select count(1) as CNT from ',item().schema,'.',item().table)","type":"Expression"},"partitionOption":"None","queryTimeout":"02:00:00"},"dataset":{"referenceName":"OracleCloudDataset","type":"DatasetReference","parameters":{}}}},{"name":"MoveDataToADLS","type":"Copy","dependsOn":[{"activity":"GetCountOfRecords","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":60,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"OracleSource","oracleReaderQuery":{"value":"@concat('SELECT ''2021-06-04 11:30:00.0''AS c_journaltime,''-1'' AS c_transactionid,''I'' AS c_operationtype,''day0_user'' AS c_userid,obj.* FROM ',item().schema,'.',item().table,' obj')","type":"Expression"},"partitionOption":"None","queryTimeout":"02:00:00"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","maxRowsPerFile":250000,"fileNamePrefix":{"value":"@concat(item().table,'.D20210604.T110000.R',activity('GetCountOfRecords').output.firstRow.CNT)","type":"Expression"},"quoteAllText":true,"fileExtension":""}},"enableStaging":false,"parallelCopies":4,"validateDataConsistency":true,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Info","enableReliableLogging":false},"logLocationSettings":{"linkedServiceName":{"referenceName":"[parameters('DataLake')]","type":"LinkedServiceReference"},"path":"copyactivity-logs"}},"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"OracleCloudDataset","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ExtractionOp2","type":"DatasetReference","parameters":{"path":{"value":"@pipeline().parameters.sourcePath","type":"Expression"}}}]},{"name":"FileSplitter","type":"DatabricksNotebook","dependsOn":[{"activity":"MoveDataToADLS","dependencyConditions":["Succeeded"]},{"activity":"SetTableName","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":120,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/datateam@starhealth.in/FileSplitter/init-adls","baseParameters":{"obtainedCount":{"value":"@variables('obtainedCount')","type":"Expression"},"table_name":{"value":"@variables('current_table_name')","type":"Expression"},"sourcePath":{"value":"@concat('abfss://',pipeline().parameters.sourcePath,'@shdldiffenstorageac.dfs.core.windows.net/')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('shdldiffenworkspace_splitter')]","type":"LinkedServiceReference"}},{"name":"SetObtainedCount","type":"SetVariable","dependsOn":[{"activity":"GetCountOfRecords","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"obtainedCount","value":{"value":"@string(activity('GetCountOfRecords').output.firstRow.CNT)","type":"Expression"}}},{"name":"SetTableName","type":"SetVariable","dependsOn":[{"activity":"GetCountOfRecords","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"current_table_name","value":{"value":"@item().table","type":"Expression"}}},{"name":"SaveStatusFile","type":"Copy","dependsOn":[{"activity":"ClearDirectory","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","additionalColumns":[{"name":"table_name1","value":{"value":"@variables('current_table_name')","type":"Expression"}},{"name":"row_count1","value":{"value":"@variables('obtainedCount')","type":"Expression"}}],"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"EmptyFile","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"OutPutBlob_Success","type":"DatasetReference","parameters":{"filename":{"value":"@concat(pipeline().parameters.sourcePath,'-',variables('current_table_name'),'-',variables('obtainedCount'))","type":"Expression"}}}]},{"name":"ClearDirectory","type":"DatabricksNotebook","dependsOn":[{"activity":"SetObtainedCount","dependencyConditions":["Succeeded"]},{"activity":"SetTableName","dependencyConditions":["Succeeded"]},{"activity":"CallMove","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/datateam@starhealth.in/FileSplitter/clearDirectory","baseParameters":{"obtainedCount":{"value":"@variables('obtainedCount')","type":"Expression"},"containerName":{"value":"@pipeline().parameters.sourcePath","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('shdldiffenworkspace_splitter')]","type":"LinkedServiceReference"}},{"name":"SaveFailureStatus","type":"Copy","dependsOn":[{"activity":"FileSplitter","dependencyConditions":["Failed"]},{"activity":"PerformValidations","dependencyConditions":["Failed"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","additionalColumns":[{"name":"table_name1","value":{"value":"@variables('current_table_name')","type":"Expression"}},{"name":"row_count1","value":{"value":"@variables('obtainedCount')","type":"Expression"}}],"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"EmptyFile","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"OutPutBlob_Failure","type":"DatasetReference","parameters":{"filename":{"value":"@concat(pipeline().parameters.sourcePath,'-',variables('current_table_name'),'-',variables('obtainedCount'))","type":"Expression"}}}]},{"name":"ClearDirectoryOnFailure","type":"DatabricksNotebook","dependsOn":[{"activity":"SaveFailureStatus","dependencyConditions":["Succeeded"]},{"activity":"MoveDataToADLS","dependencyConditions":["Failed"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/datateam@starhealth.in/FileSplitter/clearDirectory","baseParameters":{"obtainedCount":{"value":"@variables('obtainedCount')","type":"Expression"},"containerName":{"value":"@pipeline().parameters.sourcePath","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('shdldiffenworkspace_splitter')]","type":"LinkedServiceReference"}},{"name":"PerformValidations","type":"DatabricksNotebook","dependsOn":[{"activity":"FileSplitter","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":120,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/datateam@starhealth.in/Validations/validations","baseParameters":{"RowCountObtained":{"value":"@variables('obtainedCount')","type":"Expression"},"sourcePath":{"value":"@concat('abfss://',pipeline().parameters.sourcePath,'@shdldiffenstorageac.dfs.core.windows.net/')","type":"Expression"},"columnCount":{"value":"@variables('columnCount')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('shdldiffenworkspace_splitter')]","type":"LinkedServiceReference"}},{"name":"CallMove","type":"ExecutePipeline","dependsOn":[{"activity":"PerformValidations","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"move2","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"movesourcepath":{"value":"@pipeline().parameters.sourcePath","type":"Expression"},"delay":{"value":"@pipeline().parameters.delay","type":"Expression"}}}},{"name":"GetColumnCount","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"OracleSource","oracleReaderQuery":{"value":"@concat('select count(1) as CNT from user_tab_columns where table_name =','''',toUpper(item().table),'''')","type":"Expression"},"partitionOption":"None","queryTimeout":"02:00:00"},"dataset":{"referenceName":"OracleCloudDataset","type":"DatasetReference","parameters":{}}}},{"name":"SetColumnCount","type":"SetVariable","dependsOn":[{"activity":"GetColumnCount","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"columnCount","value":{"value":"@string(activity('GetColumnCount').output.firstRow.CNT)","type":"Expression"}}},{"name":"MoveIncoming2Backup","type":"Copy","dependsOn":[{"activity":"PerformValidations","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":""}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ExtractionOp2_arch","type":"DatasetReference","parameters":{"path":{"value":"@pipeline().parameters.sourcePath","type":"Expression"}}}],"outputs":[{"referenceName":"ProcessedFileDestIncoming_archival","type":"DatasetReference","parameters":{}}]}]}}],"parameters":{"sourcePath":{"type":"string"},"delay":{"type":"int"}},"variables":{"obtainedCount":{"type":"String"},"current_table_name":{"type":"String"},"columnCount":{"type":"String"}},"annotations":[],"lastPublishTime":"2021-06-16T15:16:29Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/pipe2lookup')]","[concat(variables('factoryId'), '/datasets/OracleCloudDataset')]","[concat(variables('factoryId'), '/datasets/ExtractionOp2')]","[concat(variables('factoryId'), '/datasets/EmptyFile')]","[concat(variables('factoryId'), '/datasets/OutPutBlob_Success')]","[concat(variables('factoryId'), '/datasets/OutPutBlob_Failure')]","[concat(variables('factoryId'), '/pipelines/move2')]","[concat(variables('factoryId'), '/datasets/ExtractionOp2_arch')]","[concat(variables('factoryId'), '/datasets/ProcessedFileDestIncoming_archival')]"]},{"name":"[concat(parameters('factoryName'), '/pipe2lookup')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DiffenFileShare')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":"pipeline2.csv","folderPath":"day0Extract/tablelist"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/OracleCloudDataset')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Oracle_cloud')]","type":"LinkedServiceReference"},"annotations":[],"type":"OracleTable","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ExtractionOp2')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DataLake')]","type":"LinkedServiceReference"},"parameters":{"path":{"type":"string","defaultValue":"pipeline2"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":{"value":"@dataset().path","type":"Expression"}},"columnDelimiter":",","escapeChar":"\"","quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/EmptyFile')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('EmptyFile')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":"empty.csv","folderPath":"day0Extract"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"},{"type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/OutPutBlob_Success')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DiffenFileShare')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"folderPath":"day0Extract/completed"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":false,"quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"},{"type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/OutPutBlob_Failure')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DiffenFileShare')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"folderPath":"day0Extract/failed"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":false,"quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"},{"type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/move2')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get Metadata1","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ExtractionOp2","type":"DatasetReference","parameters":{"path":{"value":"@pipeline().parameters.movesourcepath","type":"Expression"}}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Get Metadata1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Metadata1').output.childitems","type":"Expression"},"isSequential":true,"activities":[{"name":"Wait1","type":"Wait","dependsOn":[],"userProperties":[],"typeProperties":{"waitTimeInSeconds":{"value":"@pipeline().parameters.delay","type":"Expression"}}},{"name":"SaveFileStatus","type":"Copy","dependsOn":[{"activity":"Move2Incoming","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"EmptyFile","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"OutPutBlob_FileSuccess","type":"DatasetReference","parameters":{"filename":{"value":"@concat(pipeline().parameters.movesourcepath,'-',item().name)","type":"Expression"}}}]},{"name":"SaveFilesStatus","type":"Copy","dependsOn":[{"activity":"Move2Incoming","dependencyConditions":["Failed"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"EmptyFile","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"OutPutBlob_FileFailure","type":"DatasetReference","parameters":{"filename":{"value":"@concat(pipeline().parameters.movesourcepath,'-',item().name)","type":"Expression"}}}]},{"name":"Move2Incoming","type":"Copy","dependsOn":[{"activity":"Wait1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":60,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":{"value":"@item().name","type":"Expression"},"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":""}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ProcessedFiles_1","type":"DatasetReference","parameters":{"containername":{"value":"@pipeline().parameters.movesourcepath","type":"Expression"}}}],"outputs":[{"referenceName":"ProcessedFileDestIncoming","type":"DatasetReference","parameters":{}}]}]}}],"parameters":{"movesourcepath":{"type":"string"},"delay":{"type":"int"}},"annotations":[],"lastPublishTime":"2021-06-14T08:17:00Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/ExtractionOp2')]","[concat(variables('factoryId'), '/datasets/EmptyFile')]","[concat(variables('factoryId'), '/datasets/OutPutBlob_FileSuccess')]","[concat(variables('factoryId'), '/datasets/OutPutBlob_FileFailure')]","[concat(variables('factoryId'), '/datasets/ProcessedFiles_1')]","[concat(variables('factoryId'), '/datasets/ProcessedFileDestIncoming')]"]},{"name":"[concat(parameters('factoryName'), '/ExtractionOp2_arch')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DataLake')]","type":"LinkedServiceReference"},"parameters":{"path":{"type":"string","defaultValue":"pipeline2"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"*","fileSystem":{"value":"@dataset().path","type":"Expression"}},"columnDelimiter":",","escapeChar":"\"","quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ProcessedFileDestIncoming_archival')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DiffenFileShare')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"day0Extract/deployment/all/archival"},"columnDelimiter":",","escapeChar":"\\","quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/OutPutBlob_FileSuccess')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DiffenFileShare')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"folderPath":"day0Extract/file_details/success"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":false,"quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"},{"type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/OutPutBlob_FileFailure')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DiffenFileShare')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"folderPath":"day0Extract/file_details/fail"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":false,"quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"},{"type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ProcessedFiles_1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DataLake')]","type":"LinkedServiceReference"},"parameters":{"containername":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":{"value":"@dataset().containername","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ProcessedFileDestIncoming')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DiffenFileShare')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":"deployment/zzgalaxy/all/incoming"},"columnDelimiter":",","escapeChar":"\\","quoteChar":"\""},"schema":[]},"dependsOn":[]}]}